<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Konumunuzu pinleyebilmemiz için konum iznine ihtiyacımız var.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Konumunuzu arka planda iken pinleyebilmemiz için konum iznine ihtiyacımız var.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
